<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>뷰 메인</title>
</head>
<body>
        메인입니다.<br/>

        메인1 <br/>
        <hr/>
        공간1 <div style="width:500px; height:500px; border:2px solid red;"></div>
        공간2 <div style="width:500px; height:500px; border:2px solid blue;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloremque ducimus fugiat sit. Amet blanditiis consequatur, culpa illum iste iusto quam sapiente totam ullam veritatis. Beatae quam recusandae suscipit velit.
        </div>
</body>
</html>