<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>뷰 메인</title>
    <script>
        function Count1__updateDisplay(){
            fetch('/count1')
                .then(response => response.json())
                .then(json => {
                    const display = document.querySelector('.count-1-display');

                    //$(display).find('.count-1-display__part-1').html(json.data);
                    display.querySelector('.count-1-display__part-1').innerHTML=json.data;
                    display.querySelector('.count-1-display__part-2').innerHTML=json.data+1;
                    display.querySelector('.count-1-display__part-3').innerHTML=json.data+2;
                    display.querySelector('.count-1-display__part-4').innerHTML=json.data+3;

                });
            // 1초뒤에 해당 함수가 재 실행 되도록 예약
            // 주기적으로 실행한다.
            // 네이버 실시간 검색이 이런식으로 진행되었다.
            setTimeout(Count1__updateDisplay,10000);
        }

        function Count2__updateDisplay(){
            fetch('/count2')
                .then(response => response.json())
                .then(json => {
                    document.querySelector('.count-2-display').indexHTML = json.data;
                });
        }

        Count1__updateDisplay();
    </script>
    <style>
        .box {
            width: 500px;
            height: 500px;
            border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            flex-direction: column;
        }
    </style>
</head>
<body>
        메인입니다.<br/>

        메인1 <br/>
        <hr/>
        공간1 (자동갱신)
        <button onclick="Count1__updateDisplay();">클릭 count1</button>
        <div class="box count-1-display">
            <span class="count-1-display__part-1" style="color:blue"></span>
            <span class="count-1-display__part-2" style="color:green"></span>
            <span class="count-1-display__part-3" style="color:black"></span>
            <span class="count-1-display__part-4" style="color:pink"></span>
        </div>
        공간2 (버튼클릭)
        <button onclick="Count2__updateDisplay();">클릭 count2</button>
        <div class="box  count-2-display">
           <th:block th:text="${count2}"></th:block>
        </div>
</body>
</html>