<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>뷰 메인</title>
    <script>
        function Count1__updateDisplay(){
            fetc('/count1')
                .then(response => response.json())
                .then(json => {
                    document.querySelector('.count-1-display').indexHTML = json.data;
                });
            // 1초뒤에 해당 함수가 재 실행 되도록 예약
            // 주기적으로 실행한다.
            // 네이버 실시간 검색이 이런식으로 진행되었다.
            setTimeout(Count1__updateDisplay,10000);
        }

        function Count2__updateDisplay(){
            fetc('/count2')
                .then(response => response.json())
                .then(json => {
                    document.querySelector('.count-2-display').indexHTML = json.data;
                });
        }
    </script>
    <style>
        .box {
            width: 500px;
            height: 500px;
            border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10rem;
        }
    </style>
</head>
<body>
        메인입니다.<br/>

        메인1 <br/>
        <hr/>
        공간1 (자동갱신)
        <button onclick="Count1__updateDisplay();">클릭 count1</button>
        <div class="box count-1-display">
            <th:block th:text="${count1}"></th:block>
        </div>
        공간2 (버튼클릭)
        <button onclick="Count2__updateDisplay();">클릭 count2</button>
        <div class="box  count-2-display">
           <th:block th:text="${count2}"></th:block>
        </div>
</body>
</html>